html {
  position: relative;
}

body {
  margin-bottom: 125px;
  margin-top: 30px;
}

.nav-link {
  margin-right: 30px;
}

.jumbotron {
  min-height: 100vh;
  background-image: url('../img/main_bg.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 -10px;
  color: #eaeaea;
  overflow: hidden;
}

.jumbotron h1,
.jumbotron p {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron img {
  width: 200px;
  border: 5px solid #eaeaea;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

hr {
  width: 250px;
  border-top: 3px solid #999;
}

section {
  min-height: 600px;
}

.pKiri,
.pKanan {
  opacity: 0;
  transform: translate(-50px, 0) rotate(15deg);
  transition: 1s;
}

.pKanan {
  transform: translate(50px, 0) rotate(-15deg);
}

.pKiri.pMuncul,
.pKanan.pMuncul {
  opacity: 1;
  transform: translate(0, 0);
}

.projects {
  background-color: #eee;
}

.projects h2 {
  margin-top: 10px;
}

.projects .img-thumbnail {
  opacity: 0;
  transform: translate(0, -40px);
  transition: .5s;
}

.projects .img-thumbnail.muncul {
  opacity: 1;
  transform: translate(0, 0);
}

.contact {
  min-height: 800px;
}

.contact h2 {
  margin-top: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 125px;
  background-color: rgb(87, 86, 86);
  padding-top: 30px;
}

footer p {
  color: #aaa;
  font-size: 0.9em;
}

.icon {
  width: 16px;
  height: 16px;
}